.onboarding-radio-input {
  border-radius: 10px;
  border: 1px solid #CDCDCD;
  font-weight: normal !important;
  display: flex;
  flex-direction: column;
  margin: 1rem !important;
  padding: 1rem;
  position: relative;
}
